body {
    background-color: #e5e5e4;
}
.btn {
    background-image: none;
}
.rainbow {
    background-image:-webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
}
.headerblock {
    display: inline-block;
    padding: 4px 12px;
}
.container {
    margin-top: 25px;
    width: 960px;
}
.notwhitelisted {
    font-style: italic;
}
.tenpx {
    margin-bottom: 10px !important;
}
.full {
    width: 100%;
    height: 1px;
}
.notif {
    float: right;
    margin-right: 4px;
}
#chat {
    width: 100%;
    margin-bottom: 20px;
    background: #F6F6F6;
}
#chat .header {
    min-height: 38px;
    overflow-y: auto;
    
    padding-left: 5px;
    padding-top: 3px;
    background: #e4e4e4;
}
#chat .content {
    height: 430px;
    
}
#chat .input {
    height: 32px;
    background: #eee;
    padding: 3px;
}
#chat #chatinput {
    width: 700px;
}
#chattext {
    width: 675px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    margin-right: 0;
    display: inline-block;
    float: left;
}
#chatsidebar {
    width: 275px;
    margin-left: 5px;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: #eee;
}
#update {
    font-weight: bold;
    color: gold;
}
.chatline .user {
    /*overflow-x: hidden;*/
    position: absolute;
    left: 0;
    width: 150px;
    top: 0;
    bottom: 0;
    color: #555;
    display: inline-block;
    background: #e5e5e4;
    padding-bottom: 0px;
    margin-right: 4px;
    padding-left: 8px;
}
.chatline:before, .chatline:after {
    content: " ";
    display: table;
}
.chatline:after {
    clear: both;
}
.chatline {
    position: relative;
    *zoom: 1;
    min-height: 22px;
    background-color: #eee;
}
#chatsidebar .sideuser {
    display: inline-block;
    height: 20px;
    font-size: 110%;
    width: 100%;
    padding: 2px 0 2px 3px;
    background: #e5e5e4;
}
.time {
    font-size: 80%;
}
.chatline:hover {
    background-color: #eee;
}
.message {
    float: right;
    width: 200px;
}
.roombtn {
    margin-bottom: 4px;
    margin-top: 3px;
}
.me {
    color: rgb(124, 124, 124);
}
.tipbutton {
    position: absolute;
    right: 0;
}
.anonad {
}
.quit {
    float: none;
    position: relative;
    top: 2px;
    line-height: 0;
    font-size: 12pt;
}
.img {
    max-width: 15%;
}
#cat {
    background-image: url('http://coinchat.org/static/img/cat.png');
    height: 107px;
    width: 259px;    
}
#cat:hover {
    background-image: url('http://coinchat.org/static/img/cat_hover.png');
}
