body {
    background-image: url('/whiskchat/CoinChat_files/wallpaper.png');
}
.container {
    margin-top: 25px;
    width: 960px;
}
.tenpx {
    margin-bottom: 10px !important;
}
.full {
    width: 100%;
    height: 1px;
}

#chat {
    width: 100%;
    margin-bottom: 20px;
    background: #F6F6F6;
}
#chat .header {
    min-height: 38px;
    overflow-y: auto;
    
    padding-left: 5px;
    padding-top: 3px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#chat .content {
    height: 430px;
    
}
#chat .input {
    height: 32px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    padding: 3px;
}
#chat #chatinput {
    width: 700px;
}
#chattext {
    width: 675px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    margin-right: 0;
    display: inline-block;
    float: left;
}
#chatsidebar {
    width: 275px;
    margin-left: 5px;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
#chatsidebar .sideuser {
    display: inline-block;
    height: 20px;
    font-size: 110%;
    width: 100%;
    padding: 2px 0 2px 3px;
    background: #e0f3fa; /* Old browsers */
    background: -moz-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(50%,#d8f0fc), color-stop(51%,#b8e2f6), color-stop(100%,#b6dffd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e0f3fa 0%,#d8f0fc 50%,#b8e2f6 51%,#b6dffd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
    
    
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 5%, #a2db92 95%, #6e9661 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#eaeaea), color-stop(95%,#a2db92), color-stop(100%,#6e9661)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 5%,#a2db92 95%,#6e9661 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 5%,#a2db92 95%,#6e9661 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 5%,#a2db92 95%,#6e9661 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 5%,#a2db92 95%,#6e9661 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6e9661',GradientType=0 ); /* IE6-9 */
    
    
}
#chatsidebar .sideuser:hover {
    display: inline-block;
    height: 20px;
    font-size: 110%;
    width: 100%;
    padding: 2px 0 2px 3px;
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
    
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 5%, #c1dfdd 95%, #9fb7b4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(5%,#f2f2f2), color-stop(95%,#c1dfdd), color-stop(100%,#9fb7b4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 5%,#c1dfdd 95%,#9fb7b4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 5%,#c1dfdd 95%,#9fb7b4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 5%,#c1dfdd 95%,#9fb7b4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 5%,#c1dfdd 95%,#9fb7b4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9fb7b4',GradientType=0 ); /* IE6-9 */
    
    
}
#update {
    font-weight: bold;
    color: gold;
}
.chatline .user {
    /*overflow-x: hidden;*/
    position: absolute;
    left: 0;
    width: 121px;
    top: 0;
    bottom: 0;
    color: #555;
    display: inline-block;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    padding-bottom: 0px;
    margin-right: 4px;
    padding-left: 8px;
}
.chatline .user:hover span {
    display: none;
}
.chatline .user:hover:before {
    content: "Click to insert";
}
.chatline .user:hover:active:before {
    content: "Inserting...";
    font-weight: bold;
}
.chatline:before, .chatline:after {
    content: " ";
    display: table;
}
.chatline:after {
    clear: both;
}
.chatline {
    position: relative;
    *zoom: 1;
    min-height: 22px;
}
.time {
    font-size: 80%;
}
.chatline:hover {
    background-color: #eee;
}
.message {
    float: right;
    width: 200px;
}
.roombtn {
    margin-bottom: 4px;
    margin-top: 3px;
}
.me {
    color: rgb(124, 124, 124);
}
.tipbutton {
    position: absolute;
    right: 0;
}
.anonad {
}
.quit {
    float: none;
    position: relative;
    top: 2px;
    line-height: 0;
    font-size: 12pt;
}
#cat {
    background-image: url('http://coinchat.org/static/img/cat.png');
    height: 107px;
    width: 259px;
    position: relative;
    top: -35px;
    left: -15px;
}
#cat:hover {
    background-image: url('http://coinchat.org/static/img/cat_hover.png');
}


